<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<p class="lead mb-3">Your email is <%= email %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<a href="/survey" class="btn btn-secondary">Survey</a>
